<%= form_for @post do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="title">
    <%= f.text_area :title, :cols => 60, :rows => 1 %>
  </div>
  <div class="content">
    <%= f.text_area :content, :cols => 60, :rows => 4 %>
  </div>
  <div class="actions">
    <%= f.submit "Say it" %>
  </div>
<% end %>
