<tr>
  <table class="showpost">
    <td class="gravatar">
      <h3>
        <%= gravatar_for @user , :size => 30 %><br />
        <%= link_to @user.name, user_path(@user) %>
      </h3>
    </td>
    <td class="post">
      <span class="title"><%= @post.title %></span><br />
      <span class="content"><%= @post.content %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(@post.created_at) %> ago.
      </span>
    </td>
  </table>
  <%= link_to "<- Back" , :back %> 
</tr>

